* {
    box-sizing:border-box;
}

body {
    font-family: League Spartan;
    font-size: 20px;
    color: #4444;
    text-align: center;
    line-height: 1.5;
}

nav,footer {
    padding: 1% 0;
    background-color: #aaaa;
    color:#eeee;
    margin-top: 14px;
}

nav {
    position:fixed;
    top: 0;
    left:0;
    right:0;
    z-index:-10;
}

header{
    padding: 12% 0;
}

section {
    min-height: 200px;
    padding:10% 0;
    background-color: #bbbb;
}

section:nth-child(odd){
    background-color: #ffff;
}

@media only screen and (min-width: 350px)and (max-width: 480px) {
   body { 
    background-color: lightblue ;  
}

@media only screen and (min-width: 768px) and (max-width: 720px) {
    body {
        background-color: bisque;
    }
}

@media only screen and (max-width: 1020px) {
    body {
        background-color: lightgrey
    }
}