* {
  box-sizing: border-box;
}
main {
  padding: 10px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: League Spartan;
  background-color: burlywood;
  color: #4444;
  text-align: center;
  line-height: 1.5;
  border: 0;
  font-size: 16px
}

nav {
  border-bottom: 1px solid #eaeaeb;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 1.5;
  background-color: burlywood;
  position: fixed;
  top: 0;
  z-index: 2;
}
.menu {
  text-align: top;

  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0;
  height: 100%;
}

.menu a {
  text-decoration: none;
  color: rgb(2, 68, 97);
  margin: 5px;
  text-align: top;
  line-height: 10px;
  padding: 0;
  font-size: 16px;
}

/* label {
  margin-right: 10px;
  font-size: 1em;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
  width: 26px;
  float: right;
} */

#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: inline-block;
}

a {
  font-size: 0.9vw;
  display: inline-block;
  color: white;
}

a:hover {
  font-style: italic;
  background-color: rgb(2, 68, 97);
  color: orange;
  padding: 20px;
}

header {
  width: auto;
  margin-top: 50px;
  margin-right: 0;
  height: 300px;
  background-image: url("desertphoto.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: rgb(2, 68, 97);
  border: 10px;
}

h1 {
  color: rgb(2, 68, 97);
  font-size: 3.75vw;
}

h2 {
  font-size: 3.75vw;
  margin-bottom: none;
  border-spacing: 0px;
}
#aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: rgb(2, 68, 97);
  color: white;
  border: 10px;
}

p {
  font-size: 16px;
  margin-top: none;
  padding: 15px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section:nth-child(odd) {
  width: auto;
  background-color: burlywood;
  color: rgb(2, 68, 97);
  /* font-size: 2em; */
}
.Projects {
  color: rgb(2, 68, 97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.quizImg {
  width: 300px;
}

.quizDetails {
  font-size: 1.09vw;
  color: rgb(2, 68, 97);
}

ul,
li {
  text-decoration: none;
  list-style: none;
  color: rgb(2, 68, 97);
  padding-inline-start: 0;
  font-size: 3vw;
}

.linktext {
  font-size: 3vw;
  color: black;
  margin: 0;
}
.linkHeaderQuiz {
  float: right;
  font-size: 3vw;
}
#liveQuiz {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  font-size: 3vw;
  color: rgb(2, 68, 97);
}

#liveQuiz:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-style: italic;
  background-color: grey;
  color: orange;
}

#liveRepo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: rgb(2, 68, 97);
}

#liveRepo:hover {
  font-style: italic;
  background-color: grey;
  color: orange;
}

#liveRepo:visited {
  color: purple;
}

#liveRepo:focus {
  outline: 3px;
}

.bottom {
  background-color: rgb(2, 68, 97);
  color:white;
}

#contactMe {
  width: 100%;
  list-style: none;
  font-size: 1vw;
  color: white;
  background-color: rgb(2, 68, 97);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 75px;
}

/* nav {
  background-color: rgb(202, 156, 96);
} */

.contactList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: burlywood;
  text-align: center;
  font-size: 3vw;
  line-height: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    margin-top: 10px;
    margin-bottom: 80px;
    vertical-align: top;
    position: static;
    color: rgb(2, 68, 97);
    font-size: 4vw;
  }

  /* menu, a {
    font-size: 1.25vw;
    color: rgb(2, 68, 97);
  } */

  header {
    height: 600px;
  }
  label {
    display: none;
  }

  .quizImg {
    width: 500px;
  }
  .contactList {
    line-height: 2;
  }

  .contactInfo:hover {
    background-color: burlywood;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) {
  body {
    background-color: burlywood;
  }

  h1 {
    position: absolute;
    top: 120px;
    color: rgb(2, 68, 97);
    font-size: 3.75vw;
    margin: 0;
  }

  nav{
    height: 100px;
  }

  p{
    font-size: 1.56vw;
  }

  .Projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .quizImg {
    width: 800px;
  }

  header {
    height: 639px;
  }

  #linktext {
    font-size: 1.09vw;
  }

  .contactList {
    font-size: 16px;
    line-height: 3;
  }
}
