* {
  box-sizing: border-box;
}
main {
  padding: 10px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: League Spartan;
  background-color: white;
  color: rgb(2, 68, 97);
  text-align: center;
  line-height: 1.5;
  border: 0;
  font-size: 16px;
}

nav {
  border-bottom: 1px solid #eaeaeb;
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 1.5;
  background-color: lightgrey;
  position: fixed;
  top: 0;
  z-index: 2;
}
.menu {
  text-align: top;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0;
  height: 100%;
}

.menu a {
  text-decoration: none;
  color: rgb(2, 68, 97);
  margin: 5px;
  text-align: top;
  line-height: 10px;
  padding: 0;
  font-size: 12px;
  -webkit-text-stroke: 0.5px black;
}

a {
  font-size: 12px;
  display: inline-block;
  color: white;
}

a:hover {
  font-style: bold;
  font-weight: heavy;
  background-color: darkgray;
  color: rgb(2, 68, 97);
  padding: 20px;
}

a:focus {
  outline: 2px solid limegreen;
}

header {
  width: auto;
  margin-top: 50px;
  margin-right: 0;
  height: 300px;
  background-image: url("desertphoto.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border: 10px;
}

h1 {
  color: rgb(1, 27, 39);
  font-size: 16px;
  font-weight: bolder;
  -webkit-text-stroke: 0.5px black;
}

h2 {
  font-size: 14px;
  margin-bottom: none;
  border-spacing: 0px;
  color: rgb(2, 68, 97);
}
#aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  color: rgb(2, 68, 97);
  border: 10px;
}

p {
  font-size: 12px;
  margin-top: none;
  padding: 15px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myProjects {
  width: auto;
  background-color: lightgrey;
  color: rgb(2, 68, 97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.project-container > * {
  width: 100%;
}

.ProjectImg {
  width: 300px;
  outline: 1px rgb(2, 68, 97);
}

.quizDetails {
  font-size: 12px;
  color: rgb(2, 68, 97);
}

ul,
li {
  text-decoration: none;
  list-style: none;
  color: rgb(2, 68, 97);
  padding-inline-start: 0;
  font-size: 3vw;
  margin: 10px, 0, 0, 10px;
}

.links {
  padding: 0;
  line-height: 1;
}

.linktext {
  font-size: 12px;
  color: black;
  margin: 0;
  padding: 0;
}

#livePage {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  font-size: 12px;
  color: rgb(2, 68, 97);
}

#livePage:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-style: italic;
  background-color: grey;
  color: orange;
}

#livePage:visited {
  color: purple;
}

#liveRepo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: rgb(2, 68, 97);
  margin-bottom: 15px;
}

#liveRepo:hover {
  font-style: italic;
  background-color: grey;
  color: white;
}

#liveRepo:visited {
  color: purple;
}
.ProjectImg {
  width: 300px;
}

.Details {
  font-size: 12px;
  color: rgb(2, 68, 97);
}

.bottom {
  background-color: rgb(168, 81, 9);
  color: white;
  font-size: 12px;
}

#contactMe {
  width: 100%;
  list-style: none;
  font-size: 12px;
  background-color: rgb(2, 68, 97);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contactList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: burlywood;
  text-align: center;
  font-size: 3vw;
  line-height: 20px;
}

@media only screen and (min-width: 768px) {
  h1 {
    margin-top: 10px;
    margin-bottom: 80px;
    vertical-align: top;
    position: static;
    font-size: 4vw;
  }

  h2 {
    font-size: 32px;
  }

  header {
    height: 600px;
  }

  .menu a {
    font-size: 14px;
  }

  p {
    font-size: 18px;
  }

  .quizImg {
    width: 500px;
  }

  .project-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-container > * {
    width: 50%;
  }

  .quizDetails {
    font-size: 13px;
  }
  .contactList {
    line-height: 2;
  }
}

@media only screen and (max-width: 1025px) {
  h1 {
    position: absolute;
    top: 120px;
    font-size: 3.75vw;
    margin: 0;
  }

  h2 {
    font-size: 40px;
  }

  nav {
    height: 100px;
  }

  header {
    height: 639px;
  }

  .menu a {
    font-size: 16px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    padding: 20px;
  }

  .Projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .project-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-container > * {
    width: 50%;
  }

  .quizDetails {
    font-size: 14px;
  }

  #linktext {
    font-size: 18px;
  }

  .contactList {
    font-size: 16px;
    line-height: 3;
  }
}
